/*! -- Stack Processes -- */
/* line 2, ../sass/process.scss */
.process-1 {
  padding: 3.71428571em 0;
  position: relative;
  overflow: hidden;
}

/* line 7, ../sass/process.scss */
.process-1 .process__item {
  width: 50%;
}

/* line 10, ../sass/process.scss */
.process-1 .process__item:not(:last-child) {
  margin-bottom: 1.85714286em;
}

/* line 13, ../sass/process.scss */
.process-1:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  background: #4a90e2;
}

/* line 22, ../sass/process.scss */
.process__item {
  position: relative;
}

/* line 25, ../sass/process.scss */
.process__item:after {
  content: '';
  width: 1.85714286em;
  height: 1.85714286em;
  background: #fff;
  border: 2px solid #4a90e2;
  border-radius: 50%;
  position: absolute;
  top: 0;
  margin-left: 1px;
}

/* line 36, ../sass/process.scss */
.process__item h4,
.process__item img {
  margin-bottom: 15px;
}

@media all and (min-width: 768px) {
  /* line 41, ../sass/process.scss */
  .process-1 .process__item:nth-child(odd) {
    text-align: right;
    padding-right: 3.71428571em;
  }

  /* line 45, ../sass/process.scss */
  .process-1 .process__item:nth-child(odd):after {
    right: -0.92857143em;
  }

  /* line 48, ../sass/process.scss */
  .process-1 .process__item:nth-child(even) {
    margin-left: 50%;
    padding-left: 3.71428571em;
  }

  /* line 52, ../sass/process.scss */
  .process-1 .process__item:nth-child(even):after {
    left: -0.92857143em;
  }
}
@media all and (max-width: 767px) {
  /* line 57, ../sass/process.scss */
  .process-1:before,
  .process-2:before {
    left: 0.92857143em;
  }

  /* line 61, ../sass/process.scss */
  .process-1 .process__item,
  .process-2 .process__item {
    width: 100%;
    padding-left: 3.71428571em;
  }

  /* line 66, ../sass/process.scss */
  .process-1 .process__item:after,
  .process-2 .process__item:after {
    left: 0;
  }
}
/* line 71, ../sass/process.scss */
.bg--dark .process-1:before,
.imagebg .process-1:before,
.bg--dark .process-2:before,
.imagebg .process-2:before {
  background: #fff;
}

/* line 77, ../sass/process.scss */
.bg--dark .process-1 .process__item:after,
.imagebg .process-1 .process__item:after,
.bg--dark .process-2 .process__item:after,
.imagebg .process-2 .process__item:after {
  background: #fff;
}

/* line 83, ../sass/process.scss */
.bg--dark .process-1 .process__item:after,
.bg--dark .process-2 .process__item:after {
  border-color: #252525;
}

/* line 87, ../sass/process.scss */
.process-2 {
  position: relative;
}

/* line 90, ../sass/process.scss */
.process-2 .process__item {
  padding-top: 3.71428571em;
}

/* line 93, ../sass/process.scss */
.process-2 .process__item:after {
  display: inline-block;
  text-align: center;
}

/* line 97, ../sass/process.scss */
.process-2:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0.92857143em;
  left: 0;
  background: #4a90e2;
}

@media all and (max-width: 767px) {
  /* line 107, ../sass/process.scss */
  .process-2:before {
    height: 100%;
    width: 2px;
    left: 1.85714286em;
    margin-left: 2px;
  }

  /* line 113, ../sass/process.scss */
  .process-2 .process__item:after {
    top: 3.71428571em;
  }
}
/* line 117, ../sass/process.scss */
.process-3 {
  list-style: none;
  position: relative;
}

/* line 121, ../sass/process.scss */
.process-3 li {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* line 126, ../sass/process.scss */
.process-3 li .process__number {
  float: left;
  width: 15%;
  width: 3.71428571em;
  height: 3.71428571em;
  border-radius: 50%;
  border: 2px solid #4a90e2;
  background: #fff;
  text-align: center;
}

/* line 136, ../sass/process.scss */
.process-3 li .process__number span {
  font-size: 1.35714286em;
  font-weight: bold;
  color: #4a90e2;
  position: relative;
  top: 12px;
}

/* line 143, ../sass/process.scss */
.process-3 li .process__body {
  width: 80%;
  float: right;
}

/* line 147, ../sass/process.scss */
.process-3 li .process__body h4 {
  margin-bottom: 0.342105263157895em;
}

/* line 150, ../sass/process.scss */
.process-3 li:not(:last-child) {
  margin-bottom: 3.71428571em;
}

/* line 153, ../sass/process.scss */
.process-3:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  left: 1.85714286em;
  top: 0;
  border-left: 1px dashed #ddd;
}

/* line 162, ../sass/process.scss */
.bg--dark .process-3 li .process__number {
  background: #252525;
}

/* line 165, ../sass/process.scss */
.bg--dark .process-3:before {
  border-color: #aaa;
}

/* line 168, ../sass/process.scss */
.process-stepper > li {
  transition: all .3s ease;
  display: inline-block;
  float: left;
  text-align: center;
  position: relative;
}

/* line 175, ../sass/process.scss */
.process-stepper > li:before {
  transition: all .3s ease;
  content: '';
  width: 0.92857143em;
  height: 0.92857143em;
  background: #ccc;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.92857143em;
}

/* line 186, ../sass/process.scss */
.process-stepper > li:after {
  transition: all .3s ease;
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: #ccc;
  top: 5px;
  left: 0;
}

/* line 196, ../sass/process.scss */
.process-stepper > li:first-child:after,
.process-stepper > li:last-child:after {
  width: 50%;
}

/* line 200, ../sass/process.scss */
.process-stepper > li:first-child:after {
  left: 50%;
}

/* line 203, ../sass/process.scss */
.process-stepper > li.active:before,
.process-stepper > li.active:after {
  background: #4a90e2;
}

/* line 207, ../sass/process.scss */
.process-stepper > li > span {
  cursor: default;
}

/* line 210, ../sass/process.scss */
.process-stepper[data-process-steps="6"] > li {
  width: 16.666666666666667%;
}

/* line 213, ../sass/process.scss */
.process-stepper[data-process-steps="5"] > li {
  width: 20%;
}

/* line 216, ../sass/process.scss */
.process-stepper[data-process-steps="4"] > li {
  width: 25%;
}

/* line 219, ../sass/process.scss */
.process-stepper[data-process-steps="3"] > li {
  width: 33.33333333%;
}

/* line 222, ../sass/process.scss */
.process-stepper[data-process-steps="2"] > li {
  width: 50%;
}

/* line 225, ../sass/process.scss */
.bg--dark .process-stepper li:not(.active):before,
.bg--dark .process-stepper li:not(.active):after {
  background: #585858;
}
