/*****************
 * Site Variables
 */
 
$color-brand: #1b5e20;
$color-yellow: #FFE000;
$color-white: #fff;
$color-black: #000;
$color-red: #ff0000;
$color-Orange-red: #C55C06;
$color-green: #00ab66;
$color-gray: #DADBDB;


$color-heading: #FFFFFF; 
$color-highlight: #046EB8;
$color-border: #046EB8;
$color-line: #046EB8;
$color-background: #046EB8;
$text-color: #333;
$color-body: #F2F2F2;

$color-stagram: #B8D6EB;

$highlight: #f8fafa;

$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-google-plus: #dd4b39;
$color-linkedin: #007bb6;
$color-youtube: #C55C06;

$font-family-sans-serif:  Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "Source Sans Pro", Georgia, "Times New Roman", Times, serif;

$link-color: $text-color;

$link-hover-color: $color-brand;

$link-hover-decoration: none;
