@media ( min-width: 576px ) {

    

}

@media ( min-width: 768px ) {

    .mobile-only {
        display: none;
    }

    .window-only {
        display: block;
    }

    #section-wrapper {
        margin-top: 0;

        .section-header { 
            .section-heading {
                font-size: 2.2rem;
            }
        }
    }

.content-header-wrapper {
    .content-header {
        .content-heading {
            font-size: 2rem;
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
}

.confirm-header {
    .content-header {
      .content-heading {
          text-align: left;
      }
    }
  }

.header-wrapper {
    .comfirm-input {

        h3 {
            width: 18%;
        }
    }
}

.btn-end {
    font-size: 1.2rem;
}

.txt-short {
    width: 100%;
}
        
#header {
    border: none;

    .top-header {
        border-bottom: 4px solid $color-border;

        h5 {
            color: $color-border;
            font-weight: bold;
            font-size: 1.6rem;
        }

        p {
            font-size: 14px;
        }

        .logo {
            height: auto;
            margin: 10px 0;
            width: 100%;
        }

        .btn-border-outline {
            color: $color-border;
            border: 2px solid $color-border;
            border-radius: 10px;
            font-size: 1.8rem;
            font-weight: 600;

            &:hover {
                background-color: $color-background;
                color: $color-white;
            }
        }
    }

    .main-header {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(204,205,205,1) 100%);
          
    .nav-link {
        font-size: 1.4rem;
        font-weight: 600;
    }
}

}

.content-company {
    margin: 60px 0;

    .content-header {
        border-bottom: 1px solid $color-gray;
        margin-bottom: 20px;

        .content-heading p {
            font-size: 1.1rem;
            display: inline-block;

            span {
                font-size: 1.2rem;
            }
        }
    }
}

.transmission-section {
    .section-header {
      h2 {
        font-size: 2.2rem;

      }
    }
    .transmission-content { 

      p {
        font-size: 18px;
      }

    }
}
.header-wrapper {
    .phone-list {

      margin: 0;
  
      .phone-lists {
          padding: 14px 14px;
          text-align: center;
        }

        .txt-reception {
            
        }
      }
   
  }

.header-wrapper {
    .heading-call {
      
      text-align: center;
      h3 {
          margin-bottom: 28px;
  
        &::after {
            content: '';
            margin: 2px auto 10px auto;
        } 
      }

      p {
        font-size: 1.1rem;
      }
  
      .phone-list {
          margin: 0 100px;
      }
    }
  }
}

.content-wrapper {
    .input-content {
        .content-text {
            font-size: 1.1rem;
        }
    }
}

  .polocy-wrapper {
    margin: 30px 0 30px 0;

    .polocy-header {
      h5 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
    
    .polocy-content {
      p {
       font-size: 1.1rem;
      }

      .polocy-one {
        li {
          font-size: 1.1rem;
        }
      }

      .polocy-two {

        li {
            font-size: 1.1rem;
        }
      }
    }
  

.transmission-wrapper {
    .transmission-content { 
        p {
            font-size: 1.1rem;
        }
    }
}


// about us

.header-phone {

    .content-header {
        h3 {
            text-align: center !important;
        }

        p {
            text-align: center;
            font-size: 1.1rem;
        }
    }
  }

  #footer {
      
    p {
        font-size: 1rem;
        margin-bottom: 5px;

    }
    .logo-footer {
      height: auto;
      padding: 16px 0;
      width: 90%;
    }
    .footer-tel {
        font-size: 18px;
        margin-top: 20px;
    }
   
  }

}

@media ( min-width: 992px ) {


}

@media ( min-width: 1200px ) {

}

@media ( min-width: 1600px ) {

}