
@import "variables";
@import "bootstrap/bootstrap";
@import "slick";
@import "slick-theme";
@import "lity";
@import "compass/css3";

@import "process";

html,
body {

	/* Prevent horizontal scrolling bar appears when pinterest extension is installed */

  background-color: $color-body;
  color: $text-color;
  font-family: $font-family-serif;
}

.window-only {
    display: none;
}

.mobile-only {
	display: block;
}

#section-wrapper {
  margin-top: 12px;

  .section-header { 
    padding: 14px 14px;

      .section-heading {
        color: $color-heading;
        font-size: 1.8rem;
        font-weight: bold;
      }
  }

  .section-lighlight {
    background-color: $color-highlight;
  }
}

.content-header-wrapper {
  .content-header {

    padding: 20px 20px;

    .content-heading {
      border-bottom: 2px solid $color-border;
      color: $color-background;
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}

.btn-end {
  background-color: $color-background;
  color: $color-white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 16px 90px;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-white;
    border: 1px solid $color-background;
    color: $color-background;
  }
}

.title {
	padding: 8px 0;
	margin-bottom: 15px;
	color: $color-border;
	font-weight: bold;
	font-size: 1.8rem;
	&.with-border {
		border-bottom: 1px solid $color-border;
	}
}

.txt-short {
  width: 60%;
}

.btn-wrapper {
  background-color: $color-border;
  border: 2px solid $color-white;
  color: $color-white;
  font-size: 15px;
  padding: 5px 65px;
}

#header {
  border-bottom: 16px solid $color-border;

  &::before {
    content: '';
    background-color: $color-border;
    display: block;
    height: 16px;
    margin: 0 auto 4px auto;
    width: 100%;
  }

  .top-header {
    
    p {
      margin-top: 5px;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .navbar {
    padding: 15px;

    a {
      font-size: 16px;

      &:hover,
      &:focus,
      &:active {
        color: $color-background;
      }
    }
  }

  .logo {
    height: auto;
    width: 400px;
  }

  .hero{
    position: relative;
    background-image: url('../images/hero-slider-01.jpg');
    background-size: cover;
    height: calc(100vh - 212px);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  
    &:after {
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
    }
  
    .hero-content {
      z-index: 1;
      .tagline, h1{
        color: $color-white;
        font-weight: $font-weight-bold;
      }
    }
  }
 }

// Company Profile

.content-company {
  margin: 20px 0;

  .content-header {
    padding-bottom: 20px;

    .content-heading {
      p {
        font-size: 1rem;
        font-weight: 500;
        margin: 0 0 10px 0;

        span {
          background-color: $color-background;
          color: $color-white;
          font-size: 1.1rem;
          font-weight: bold;
          padding: 5px;
          margin-right: 10px;
        }

        .btn-notice {
          background-color: $color-youtube;
        }
      }

      .content-list {
        padding-left: 20px;
      }
    }
  }
}

// about us
.header-phone {

  .content-header {

    padding: 30px 0;

    .content-heading {
      margin-bottom: 10px;
      border-width: 40%;

      .txt-polocy {
        margin-top: 10px;
      }
    }
    p {
      font-weight: 500;
    }
  }
}

.header-wrapper {
  .phone-list {

    background-color: $color-white;
    border: 2px solid $color-gray;
    margin: 0 248px 0 0;

    .phone-lists {
        padding: 14px 14px;

      h4 {
        font-weight: 600;
        color: $color-background;
        margin: 0;
        
      }

      p {
        margin: 0;
        font-weight: 600;
      }
    }
  }
}

// mistake 

.mistake-header {
  .content-header {
    padding: 30px 0;

    .content-heading {
      border: none;
      color: $color-red;
      margin-bottom: 14px;
    }
  }
}

// confirm 

.confirm-header {
  .content-header {
    padding: 30px 0;
  }
}

// Business description

.page-heading h3 {
  color: $color-white;
  font-size: 2rem;
}

.page-contain {
	padding: 30px 0;

	.about-item {
		margin-bottom: 20px;

		img {
			width: 100%;
		}

		.about-content {

			ul {
				padding-left: 20px;
			}

			strong {
				font-size: 1.5rem;
				font-weight: bold;
				margin-bottom: 10px;

				&:before {
					content: '';
					display: inline-block;
					background-image: url(../images/triagle-icon.png);
					background-repeat: no-repeat;
					background-size: 12px;
					background-position: center;
					margin-right: 10px;
					width: 14px;
					height: 16px;

				}
			}

			p {
				margin-bottom: 15px;
			}
		}
	}
}

// transmission complet

.transmission-header {
  .content-header {

    padding: 30px 30px;
  }
}

.transmission-wrapper {
    .transmission-content { 
      p {
        font-weight: 600;
        margin-bottom: 5px;
        font-size: 1rem;
      }
    }

    .btn-back-wrapper {
      margin: 50px 0 100px 0;
    }
}

// Contact us

.header-wrapper {
  .comfirm-input {
    padding: 20px 20px;
    
    h3 {
      border-bottom: 2px solid $color-border;
      width: 32%;
    }
  }
  
}

.content-wrapper {

  .input-content {
    background-color: $color-white;
    padding: 20px 20px;

    .btn-confirm {
      margin-top: 30px;
    }

    .content-text {
      font-size: 1rem;
      margin-bottom: 40px;

      .privacy {
        color: $color-border;
      }

      .required {
        background-color: $color-red;
        color: $color-white;
        padding: 5px;
      }
    }

    .content-header {

      .content-heading {
          .txt-polocy {
              margin-top: 10px;
          }
      }

        label {
          font-weight: 600;
        }

        p {
          font-size: 1rem;
          margin-bottom: 8px;
        
        }

        span {
          background-color: $color-red;
          color: $color-white;
          font-size: 1rem;
          padding: 5px;
          margin-right: 10px;
        }
      }
    }
  }

  .polocy-wrapper {
    margin: 15px 0 30px 0;

    .polocy-header {
      h5 {
        color: $color-border;
        border-bottom: 2px solid $color-border;
        font-size: 1.4rem;
        font-weight: 600;
      }

      p {
        margin: 0 0 5px 0;
      }
    }
    
    .polocy-content {
      margin-top: 34px;

      p {
        margin: 0 0 5px 0;
      }

      .polocy-one {
        list-style-type: lower-alpha;
        margin: 0 0 5px 0;

        li {
          margin: 0 0 5px 0;
        }
      }

      .polocy-two {
        margin-left: 10px;

        li {
          margin: 0 0 5px 0;
        }
      }
    }
  }




// .hero {
//   position: relative;

//   .slick-item {
//     background-image: url("../images/hero-slider-01.jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     height: calc(100vh - 400px);
//     object-fit: cover;
//   }

//   .hero-information {
//     position: relative;
//     text-align: center;
//     width: 100%;

//     h1 {
//       color: $color-white;
//       font-size: 30px;
//       font-weight: bold;
//       text-align: center;
//     }

//     h2 {
//       color: $color-white;
//       font-weight: bold;
//       font-size: 18px;
//       margin-bottom: 18px;
//     }
//   }
// }

// .about-section {
//   .about-item {
//     background-color: $color-background;
//     height: 350px;
//     width: 100%;

//     &.has-bg {
//       background-image: url('../images/precision-items.jpg');
//       background-repeat: no-repeat;
//       background-size: cover;
//       background-position: center;
//       object-fit: scale-down;

//       .about-content {
//         h3, p {
//           color: $color-black;
//         }
//       }

//     }

//     &.cyan-bg {
//       background-color: $color-background;

//       .about-content {
//         h3, p {
//           color: $color-black;
//         }
//       }
//     }

//     .about-content {
//       width: calc(50% - 30px);

//       h3, p {
//         color: $color-white;
//       }

//       h3 {
//         margin-bottom: 15px;
//         font-size: 1.5rem;
//         font-weight: $font-weight-bold;
//       }

//       p {
//         font-size: 0.8rem;
//       }
//     }
//   }

//   .left-content, .right-content {
//     position: relative;

//     &:before {
//       content: '';
//       background-color: #ffffff;
//       background-image: url('../images/precision-items.jpg');
//       background-repeat: no-repeat;
//       background-size: cover;
//       background-position: center;
//       object-fit: scale-down;
//       position: absolute;
//       top: 0;
//       height: 100%;
//       width: 100%;
//     }
//   }

//   .left-content {
//     &:before {
//       left: 50%;
//       -moz-transform: skewX(-15deg);
//       -ms-transform: skewX(-15deg);
//       -webkit-transform: skewX(-15deg);
//       transform: skewX(-15deg);
//     }
//   }

//   .right-content {
//     .about-content {
//       float: right;
//     }

//     &:before {
//       right: 50%;
//       -moz-transform: skewX(15deg);
//       -ms-transform: skewX(15deg);
//       -webkit-transform: skewX(15deg);
//       transform: skewX(15deg);
//     }
//   }
// }

// #section-wrapper {
//   .section-contact {

//     h4 {
//       padding-bottom: 10px;

//       span {
//         border-radius: 5px;
//         border: 1px solid $color-yellow;
//         color: $color-yellow;
//         padding: 5px 10px;
//       }
//     }
//   }
// }

// #section-wrapper {
//   .section-contract {
//     .text-contract {
//       background-color: $color-background;
//       font-size: 20px;
//       padding: 5px;
//       margin-top: -8px;
//     }
//   }
// }






  // .section-wrapper-bg {
  //   padding: 30px 0;
  //   margin-top: -10px;

  //   .section-header-bg {
  //     background-color: $color-border;
  //     padding-top: 15px;
  //     padding-bottom: 15px;

  //     .section-provide {
  //       color: $color-white;
  //       margin-bottom: 15px;

  //     }
  //   }

  //   .section-text {
  //     border-radius: 5px;
  //     border: 2px solid $color-yellow;
  //     color: $color-yellow;
  //     padding: 5px 10px;
  //   }
  // }

  // .section-wrapper-more {
  //   padding-top: 25px;
  //   padding-bottom: 10px;
  //   margin-top: -45px;

  //   .section-more {
  //     background-color: $color-border;
  //     border-radius: 5px;
  //     border: 2px solid $text-color;
  //     color: $color-white;
  //     font-size: 15px;
  //     padding: 5px 65px;
  //   }
  // }

  // .section-contact {
  //   .section-header {
  //     background-color: $color-background;
  //     padding: 15px 0;

  //     .section-heading {
  //       color: $color-white;
  //       font-weight: bold;
  //       font-size: 15px;
  //     }
  //   }
  // }

  // .section-contract {
  //   .section-header {
  //     background-color: $color-white;
  //     padding: 15px 0;

  //     .section-heading-contract {
  //       font-weight: bold;
  //       font-size: 15px;
  //     }

  //     .section-heading-inner {
  //       font-size: 15px;
  //     }

  //     .section-header-perform {
  //       background-color: $color-stagram;
  //       margin: 15px 10px 0;
  //       padding: 15px 10px;
  //     }
  //   }
  // }

  // .section-wrapper-see-more {
  //   margin: -13px 0;
  //   padding-top: 25px;
  //   padding-bottom: 10px;

  //   .section-see-more {
  //     background-color: $color-border;
  //     border-radius: 5px;
  //     border: 2px solid $text-color;
  //     color: $color-white;
  //     font-size: 15px;
  //     padding: 5px 65px;
  //   }
  // }

  // .section-new {
  //   .section-header {
  //     background-color: $color-background;
  //     margin-top: 14px;
  //     padding: 15px 0;

  //     .section-heading {
  //       color: $color-white;
  //       font-weight: bold;
  //       font-size: 15px;

  //       .section-list {
  //         text-align: end;
  //       }
  //     }
  //   }
  // }

  // .section-wrapper-new {
  //   .wrapper-notice {
  //     padding: 15px 5px 35px;

  //     p {
  //       font-size: 15px;
  //       border-bottom: 1px solid $color-gray;
  //       padding-bottom: 10px;

  //       .notice-open {
  //         background-color: $color-background;
  //         padding: 5px 10px;
  //         color: $color-white;
  //         font-weight: bold;
  //         margin-right: 10px;
  //       }

  //       .notice-last {
  //         background-color: $color-Orange-red;
  //         padding: 5px 10px;
  //         color: $color-white;
  //         font-weight: bold;
  //         margin-right: 10px;
  //       }
  //     }
  //   }
  // }





  #footer {
    background-color: $color-background;
    color: $color-white;
    padding: 20px;

    .logo-footer {
      height: auto;
      width: 100%;
    }

    .footer-address {
      font-size: 1rem;
      margin-top: 20px;
    }

    .mail-ask {
      border: 2px solid $color-yellow;
      border-radius: 10px;
      color: $color-yellow;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 10px;

      .img-mail {
        height: auto;
        width: 36px;
      }
    }

    .footer-tel {
      font-size: 1.4rem;
      margin: 16px 0;
    }
  }

@import "responsive";
